*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

a{
    transition: 0.3s;
}

body{
    font-family: Arial, sans-serif;
    background-color: #F4F7FA;
    color: #333333;
    line-height: 1.6;
}

/* HEADER */

header{
    background-color: #0A316C;
    padding: 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo-zone{
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo{
    width: 120px;
    height: auto;
}

.logo-zone h1{
    color: white;
    font-size: 28px;
}

nav{
    display: flex;
    gap: 15px;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    transition: 0.3s;
}

nav a:hover{
    background-color: #81ECEC;
    color: #0A316C;
}

section{
    padding: 90px 70px;
}

.section-title{
    text-align: center;
    margin-bottom: 50px;
}

.section-title h2{
    color: #0A316C;
    font-size: 32px;
}

.line{
    width: 80px;
    height: 5px;
    background-color: #FDCB6E;
    margin: 15px auto;
    border-radius: 10px;
}

.btn{
    display: inline-block;
    background-color: #FDCB6E;
    color: #0A316C;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.cards{
    display: flex;
    gap: 25px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card{
    background-color: white;
    padding: 40px 30px;
    border-radius: 20px;
    flex: 1;
    min-width: 280px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    text-align: center;
}

.fade-in{
    opacity: 0;
    transform: translateY(30px);
    transition: 0.8s;
}

.fade-in.visible{
    opacity: 1;
    transform: translateY(0);
}

/* FOOTER */

footer{
    background-color: #0A316C;
    color: white;
    text-align: center;
    padding: 30px;
}

footer nav{
    justify-content: center;
    margin-bottom: 15px;
}

/* BOUTON TOP */

#top-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0A316C;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
}

/* MENU MOBILE */

.menu-button{
    display: none;
}


/* RESPONSIVE */

@media screen and (max-width: 768px){

    nav{
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }

    .cards{
        flex-direction: column;
    }

    .menu-button{
        display: block;
        background: white;
        border: none;
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
    }

    #main-nav{
        display: none;
    }

    #main-nav.active{
        display: flex;
    }
}
